.wrapper {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 25px 40px;
    margin: 0 auto;
    background-color: #ffff;
    max-width: 40vw;
    height: 80vh;
    box-shadow: 0 10px 50px -20px rgba(#818181, .7);
}